<div fxLayout="row" fxLayoutAlign="center">
  <section fxFlex.xl="30%" fxFlex.lg="30%" fxFlex.md="30%" fxFlex.sm="80%" fxFlex.xs="100%">
    <div class="search-container">
      <mat-form-field class="search-input">
        <input type="search" placeholder="Search" matInput [formControl]="searchField">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </section>
</div>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px grid" fxLayoutAlign="center" fxLayoutAlign.sm="start" fxLayoutAlign.md="center" >
    <section fxFlex="310px" fxFlex.md="230px" fxFlex.sm="auto">
      <app-repository></app-repository>
    </section>
    <section fxFlex="310px" fxFlex.md="230px" fxFlex.sm="auto">
      <app-repository></app-repository>
    </section>
    <section fxFlex="310px" fxFlex.md="230px" fxFlex.sm="auto">
      <app-repository></app-repository>
    </section>
    <section fxFlex="310px" fxFlex.md="230px" fxFlex.sm="auto">
      <app-repository></app-repository>
    </section>
    <section fxFlex="310px" fxFlex.md="230px" fxFlex.sm="auto">
      <app-repository></app-repository>
    </section>
</div>
