<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{repository.name}}</mat-card-title>
    <mat-card-subtitle>{{repository.owner.login}}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="./assets/img/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <p class="max-lines">
      {{repository.description}}
    </p>
    <div>
        <a class="repo-url" href="{{repository.html_url}}" >{{repository.full_name}}</a>
    </div>


  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center">
      <div class="repo-info" matTooltip="Estrellas">
        <button mat-raised-button>
          <mat-icon>start</mat-icon> {{repository.stargazers_count}}
        </button>


      </div>
      <div class="repo-info" matTooltip="Observadores">
        <button mat-raised-button>
          <mat-icon>visibility</mat-icon> {{repository.watchers_count}}
        </button>


      </div>
      <div class="repo-info" matTooltip="Ver más detalles de este repositorio">
        <a mat-raised-button [routerLink]="['/search/details']" [queryParams]="{name:repository.name,owner:repository.owner.login, url:repository.url }">
          <mat-icon>details</mat-icon>
        </a>

      </div>

    </div>
  </mat-card-actions>
</mat-card>
