.rep-info{
  text-align: center;
}
.select-container{
  width: 340px;
  margin:auto;
}
.commit-container{
  padding: 50px;
}
.commit-section{
  margin-top: 30px;
}
.commit-tittle{
  text-align: center;
}
