:host{
  display: block;

}

#home {
  background: url(/assets/img/fondo.jpg) no-repeat fixed center center / cover;
  margin-bottom: 10px;
}

.home-content {
  background: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  min-height: 500px;
  color: white;
  padding: 5px 0 0 0;
}
#link-container{

}
#info{
  margin-top: 40px;
}
.tittle{
  color: #fafafd7a;
  font-weight: 400;
  font-size: 61px;
}
.sub-title{
  color: #fafafd7a;
  font-weight: 400;
  margin-bottom: 45px;
}

#second-section{
  padding-top: 50px;
}
#related-links{
  text-align: center;
  font-size: 45px;
  font-weight: 300;
}
.r-link-logos{
  width: 250px;
  height: 250px;
}
